:root {

    --lightest-color: #ebebeb;
    --light-color: #cfcdcd;
    --middle-color: #6f6f85;
    --dark-color: #342121;
    --darkest-color: #1b1a29;
    --temp-border-viewer: 1px solid white;
    --font: 'Franklin Gothic Medium'

}

body {
    /* Display Controls */
    display: flex;
    justify-content: flex-start;
    /* Puts body items to the top. */
    align-items: center;
    /* Aligns body items to the top center. */
    flex-direction: column;
    align-content: center;
    /* Puts flex direction to a column. */
    margin: auto;
    /* Centers our body with margin. Bad? */

    /* Width and Height controls */
    height: 92.25%;
    width: 95%;

    /* Border + Background Controls */

    background: radial-gradient(var(--dark-color), var(--darkest-color));
    /* border: 1px solid pink; */

    font-size: larger;
    padding: 1%;
}

.main-container {
    display: flex;
    justify-content: flex-start;
    /* Puts body items to the top. */
    align-items: center;
    /* Aligns body items to the top center. */
    flex-direction: column;
    align-content: center;
    /* Puts flex direction to a column. */
    margin: auto;
    /* Centers our body with margin. Bad? */
    /* Border + Background Controls */
    /* GREEN CONTROLLER */
    /* border: 1px solid green; */

    /* Width Controls */
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    /* Makes them spaced around*/
    align-items: center;
    /* Centers them in the space container */
    width: 100%;
    height: 50px;

    /* RED CONTROLLER */
    /* border: 1px solid red; */

    padding: 2px;
    max-height: 100px;
}

#textbold {
    font-weight: bolder;
}

h1 {
    /* YELLOW CONTROLLER */
    /* border: 1px solid yellow; */
    color: rgba(234, 233, 242, 0.939);
    font-family: var(--font);
    font-size: xx-large;
    user-select: none;
}


/* a {
    color: var(--lightest-color);
    text-decoration: none;

} */

#navbox-links {
    user-select: none;
}

#navbox-links a {
    display: inline-block;
    color: var(--light-color);
    text-decoration: none;
    font-family: var(--font);
    font-size: smaller;
    padding: 10px;
    padding-inline: 17.5px;

}





#navbox-links a:hover {
    color: var(--lightest-color);
    background-color: rgba(83, 74, 137, 0.193);
    border-radius: 3px;
}
